* {
	padding: 0;
	margin: 0;
	border: 0;
}

.body{
    margin: 0;
    padding: 0;
}

@media (max-width:1420px) {
    .content{
        max-width: 1276px;
    }
}

@media (max-width:1276px) {
    .content{
        max-width: 736px;
        width: 0 auto;
    }
    .header {
        display:flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 45px 125px;
        width: 0 auto;
    }
    
    .logo {
        width:235px;
        height: 64px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown button{
        width: 48px;
        height: 48px;
        gap: 8px;
        border-radius: 12px;
        background: #404040;
        text-align:center;
        margin: -30px 0 20px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 200px;
        height: 260px;
        padding:0 6px ;
        gap: 20px;
        border-radius: 40px;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    
    .dropdown-content a {
        color: black;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .show {
        display: block;
    }
    
    /* первая информационная часть */
    
    .firstscreen {
        display:flex;
        justify-content: space-between;
        gap:20px;
        padding: 70px 45px;
        width: 0 auto;
    }
    
    .firstscreen_info {
        line-height: 30px;
    }
    
    .info-title h1{
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 50px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
        margin: -80px 0 40px 0;
    }

    .firstscree__text {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;

    }
    .firstscreen__button1{
    background-color:#F23051; color:#FFFFFF;width: 169px;height: 48px;padding-top: 13.5px;padding-right: 20px;padding-bottom: 13.5px;padding-left: 20px;gap: 8px;border-radius: 12px;border-color:#F23051;
    }

    .firstscreen__button2{
    background-color:#404040;color:#FFFFFF;width: 282px;height: 48px;padding-top: 12px;padding-right: 16px;padding-bottom: 12px;padding-left: 20px;gap: 8px;border-radius: 12px;
    }
    
    .buttons {
        width: 460px;
        height: 50px;
        gap: 20px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        border: 2px solid #CBC2F2;
        background: #F9F7FF;
    }
    
    .bottons a {
        color: inherit; 
        text-decoration: none;
    }
    
    /* картинки к первому блоку */
    
    /* .firstscreen_image1 img{
        width: 220px;
        height: 220px;
        margin: 0 -0 0 80px;
    } */
    
    .firstscreen__content{
        position: static;
        
    }
    
    #square {
        width: 220px;
        height: 220px;
        background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
        border-radius: 40px;
        margin: -300px -0px 0 -100px;
    }
    
    .firstscreen_image1 img {
        border-radius: 40px;
        width: 220px;
        height: 220px;
        margin: 40px 0 -40px 0;
    }
    
    .firstscreen_image2 img {
        width: 220px;
        height: 220px;
        border-radius: 40px;
        margin: -30px 0 0 -220px;
    }
    
    /* слайдер, которого нет */
    
    .slider {
        background-color: #F9F7FF;
        padding: 80px 125px;
        width: 0 auto;
        
    }
    
    .slider_title{
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    .slider_botton{
        text-align: right;
        width: 48px;
        height: 48px;
        gap: 8px;
        border-radius: 12px;
        padding: 12px;
    
        
    }
    
    .scroll {
        display: flex;
        justify-content:space-between;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }
    
    
    
    .box {
        scroll-snap-align: start;
        width: 304px;
        height: 260px;
        gap: 20px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        border: 2px solid #CBC2F2;
        text-align: left;
        background-color: #FFFFFF;
    }

    .box__title{

    }
    
    .box img{
        width: 80%;
    }
    
    .box t2{
        size:16px;
        width: 224px;
        height: 72px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    .box h2{
        background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 2624px;
        height: 48px;
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    /* ответы на вопросы */
    
    .FAQ {
        gap: 40px;
        padding: 80px 45px;
        width: 0 auto;
    } 
    
    .FAQ-title {
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 20px;
    }
    
    .column_faq {
        display:flex;
        justify-content: space-between;
    }
    
    .accordion{
        
    }
    
    .accordion__title{
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        width: 500px;
        height: 64px;
        gap: 20px;
        border-radius: 12px;
        padding: 30px;
        padding: 0 0 0 30px;
       
    }
    
    .accordion__title:before,
    .accordion__title::after{
        content: '';
        width: 10px;
        height: 1px;
        background-color: #0D0D0D;
        position: absolute;
        top: 8px;
        transform: all 0.3s ease 0s;
        
    }
    
    .accordion__title:before{
        transform: rotate(40deg);
        left:0;
    }
    
    .accordion__title::after{
        transform: rotate(-40deg);
        left:8px;
    }
    
    /* .accordion__title.active:before{
        transform: rotate(-30deg);
    }
    
    .accordion__title.acttive:after{
        transform: rotate(30deg);
    } */
    
    .accordion-item {
        gap: 20px;
        background: #F2F2F2;
        border-radius: 20px;
        padding:  0 0 20px 0 ;
    }
    
    .accordion__content.active:before,
    .accordion__content.active:after{
        width: 628px;
        height: 160px;
        border-radius: 12px;
        border-bottom-width: 2px;
    }
    
    .accordion__text{
        display: none;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        background: #F2F2F2;
        padding: 10px 0 0 0;
    }
    
    /* контакты */
    
    .form {
        display:flex;
        justify-content: space-between;
        padding: 80px 45px;
        gap: 20px;
        background: #F9F7FF;
        width: 0 auto;
    }
    
    .form_text {
        width: 628px;
        height: 364px;
        gap: 24px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        background: #FFFFFF;
        border: 2px solid #CBC2F2;
    }
    
    .form_text h2{
        color:#554D80;
        font-size:48px;
        margin-bottom: 30px;
    }
    
    .form_text t2{
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    
    .form_text button{
        margin-top: 30px;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        
    }
    
    .container input{
        width: 580px;
        height: 48px;
        padding: 6.5px 12px;
        gap: 4px;
        border-radius: 12px;
    }
    
    .container t4{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #999999;
    }
    
    /* контактная информация пользователя */
    
    .form_info {
        width: 628px;
        height: 426px;
        gap: 20px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        background: #FFFFFF;
        border: 2px solid #CBC2F2;
    
    }
    
    .form_info lable{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        width: 600px;
        height: 48px;
        padding-top: 6.5px;
        padding-right: 12px;
        padding-bottom: 6.5px;
        padding-left: 12px;
        gap: 4px;
        border-radius: 12px;
    
    }
    
    .checkbox {
        display: none; 
    }
    
    .checkbox-label {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #F23051;
        border-radius: 3px;
        position: relative;
        text-align: center;
        line-height: 20px;
    }
    
    .checkbox:checked + .checkbox-label::after {
        content: url("/style/images/switch.png"); 
        color: white;
        position: absolute;
        left: 2px;
        top: 0;
        font-size: 16px;
    }
    
    .checkbox:checked + .checkbox-label {
        background-color: #ffffff; 
    }
    
      /* подвал */
    
    .footer {
        display:flex;
        justify-content: space-between;
        background-color: #0D0D0D;
        gap: 20px;
        padding: 80px 45px;
        width: 0 auto;
    }
    .footer_image {
        width: 160px;
        height: 40px;
        gap: 2px;
    }
    .footer_text {
        color:#F2F2F2;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: right;
    }
}


@media (max-width:736px) {
    .content{
        max-width: 334px;
    }

    .header {
        display:flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 16px;
    }
    
    .logo {
        width:235px;
        height: 24px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown button{
        width: 48px;
        height: 48px;
        gap: 8px;
        border-radius: 12px;
        background: #404040;
        text-align:center;
        margin: -30px 0 20px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 200px;
        height: 260px;
        padding:0 6px ;
        gap: 20px;
        border-radius: 40px;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    
    .dropdown-content a {
        color: black;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .show {
        display: block;
    }
    
    /* первая информационная часть */
    
    .firstscreen {
        display:flex;
        flex-direction: column;
        gap:20px;
        padding: 16px;
    }
    
    .firstscreen_info {
        line-height: 30px;
    }
    
    .info-title h1{
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 42px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
        margin: -80px 0 40px 0;
    }

    .firstscree__text {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
       
    }
    .firstscreen__button1{
        background-color:#F23051; 
        color:#FFFFFF;
        width: 304;
        height: 48;
        border-radius: 12px;
        padding-top: 13.5px;
        padding-right: 20px;
        padding-bottom: 13.5px;
        padding-left: 20px;
        gap: 8px;
        border-color:#F23051;
    }

    .firstscreen__button2{
        background-color:#404040;
        color:#FFFFFF;
        width: 304;
        height: 48;
        border-radius: 12px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 20px;
        gap: 8px;

        }
    
    .buttons {
        display:flex;
        flex-direction: column;
        width: 344px;
        height: 148px;
        gap: 12px;
        border-radius: 20px;
        border-width: 2px;
        padding: 20px;
        border: 2px solid #CBC2F2;
        background: #F9F7FF;
    }
    
    .bottons a {
        color: inherit; 
        text-decoration: none;
    }
    
    /* картинки к первому блоку */
    
    /* .firstscreen_image1 img{
        width: 220px;
        height: 220px;
        margin: 0 -0 0 80px;
    } */
    
    .firstscreen__content{
        position: static;
        
    }
    
    #square {
        width: 174px;
        height: 174px;
        background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
        border-radius: 40px;
        margin: -0 -0px 0 -0;
    }
    
    .firstscreen_image1 img {
        border-radius: 40px;
        width: 174px;
        height: 174px;
        margin:  -0 0 0 0;
    }
    
    .firstscreen_image2 img{
        width: 174px;
        height: 174px;
        border-radius: 40px;
        margin: -0 0 0 -0 ;
        
    }
    
    /* слайдер, которого нет */
    
    .slider {
        background-color: #F9F7FF;
        padding: 80px 125px;
        
    }
    
    .slider_title{
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    .slider_botton{
        text-align: right;
        width: 48px;
        height: 48px;
        gap: 8px;
        border-radius: 12px;
        padding: 12px;
    
        
    }
    
    .scroll {
        display: flex;
        justify-content:space-between;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }
    
    
    
    .box {
        scroll-snap-align: start;
        width: 304px;
        height: 260px;
        gap: 20px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        border: 2px solid #CBC2F2;
        text-align: left;
        background-color: #FFFFFF;
    }

    .box__title{

    }
    
    .box img{
        width: 80%;
    }
    
    .box t2{
        size:16px;
        width: 224px;
        height: 72px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    .box h2{
        background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 2624px;
        height: 48px;
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant-numeric-figure: lining-nums;
        font-variant-numeric-spacing: proportional-nums;
    
    }
    
    /* ответы на вопросы */
    
    .FAQ {
        gap: 40px;
        padding: 80px 45px;
    } 
    
    .FAQ-title {
        font-family: Vladivostok;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 20px;
    }
    
    .column_faq {
        display:flex;
        justify-content: space-between;
    }
    
    .accordion{
        
    }
    
    .accordion__title{
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        width: 628px;
        height: 64px;
        gap: 20px;
        border-radius: 12px;
        padding: 30px;
        padding: 0 0 0 30px;
       
    }
    
    .accordion__title:before,
    .accordion__title::after{
        content: '';
        width: 10px;
        height: 1px;
        background-color: #0D0D0D;
        position: absolute;
        top: 8px;
        transform: all 0.3s ease 0s;
        
    }
    
    .accordion__title:before{
        transform: rotate(40deg);
        left:0;
    }
    
    .accordion__title::after{
        transform: rotate(-40deg);
        left:8px;
    }
    
    /* .accordion__title.active:before{
        transform: rotate(-30deg);
    }
    
    .accordion__title.acttive:after{
        transform: rotate(30deg);
    } */
    
    .accordion-item {
        gap: 20px;
        background: #F2F2F2;
        border-radius: 20px;
        padding:  0 0 20px 0 ;
    }
    
    .accordion__content.active:before,
    .accordion__content.active:after{
        width: 628px;
        height: 160px;
        border-radius: 12px;
        border-bottom-width: 2px;
    }
    
    .accordion__text{
        display: none;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        background: #F2F2F2;
        padding: 10px 0 0 0;
    }
    
    /* контакты */
    
    .form {
        display:flex;
        justify-content: space-between;
        padding: 80px 45px;
        gap: 20px;
        background: #F9F7FF;
    }
    
    .form_text {
        width: 628px;
        height: 364px;
        gap: 24px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        background: #FFFFFF;
        border: 2px solid #CBC2F2;
    }
    
    .form_text h2{
        color:#554D80;
        font-size:48px;
        margin-bottom: 30px;
    }
    
    .form_text t2{
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    
    .form_text button{
        margin-top: 30px;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        
    }
    
    .container input{
        width: 580px;
        height: 48px;
        padding: 6.5px 12px;
        gap: 4px;
        border-radius: 12px;
    }
    
    .container t4{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #999999;
    }
    
    /* контактная информация пользователя */
    
    .form_info {
        width: 628px;
        height: 426px;
        gap: 20px;
        border-radius: 40px;
        border-width: 2px;
        padding: 40px;
        background: #FFFFFF;
        border: 2px solid #CBC2F2;
    
    }
    
    .form_info lable{
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        width: 620px;
        height: 48px;
        padding-top: 6.5px;
        padding-right: 12px;
        padding-bottom: 6.5px;
        padding-left: 12px;
        gap: 4px;
        border-radius: 12px;
    
    }
    
    .checkbox {
        display: none; 
    }
    
    .checkbox-label {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #F23051;
        border-radius: 3px;
        position: relative;
        text-align: center;
        line-height: 20px;
    }
    
    .checkbox:checked + .checkbox-label::after {
        content: url("/style/images/switch.png"); 
        color: white;
        position: absolute;
        left: 2px;
        top: 0;
        font-size: 16px;
    }
    
    .checkbox:checked + .checkbox-label {
        background-color: #ffffff; 
    }
    
      /* подвал */
    
    .footer {
        display:flex;
        justify-content: space-between;
        background-color: #0D0D0D;
        gap: 20px;
        padding: 80px 45px;
    }
    .footer_image {
        width: 160px;
        height: 40px;
        gap: 2px;
    }
    .footer_text {
        color:#F2F2F2;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: right;
    }
}


@media (max-width:342px) {
    .content{
        max-width: none;
    }
}

.main {
}

.content {
}

/* голова сайта */

.header {
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 45px 125px;
}

.logo {
    width:235px;
    height: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    width: 48px;
    height: 48px;
    gap: 8px;
    border-radius: 12px;
    background: #404040;
    text-align:center;
    margin: -30px 0 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    height: 260px;
    padding:0 6px ;
    gap: 20px;
    border-radius: 40px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    float: left;
    
}

.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

/* первая информационная часть */

.firstscreen {
    display:flex;
    flex: 0 1 50%;
    justify-content: space-between;
    gap:20px;
    padding: 70px 125px;
}

.firstscreen_info {
    line-height: 30px;
}

.info-title h1{
    font-family: Vladivostok;
    font-weight: 700;
    font-size: 76px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    margin: -80px 0 40px 0;
}

.firstscree__text{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}

.firstscreen__button1{
    background-color:#F23051; color:#FFFFFF;width: 169px;height: 48px;padding-top: 13.5px;padding-right: 20px;padding-bottom: 13.5px;padding-left: 20px;gap: 8px;border-radius: 12px;border-color:#F23051;
}

.firstscreen__button2{
    background-color:#404040;color:#FFFFFF;width: 282px;height: 48px;padding-top: 12px;padding-right: 16px;padding-bottom: 12px;padding-left: 20px;gap: 8px;border-radius: 12px;
}

.buttons {
    width: 460px;
    height: 50px;
    gap: 20px;
    border-radius: 40px;
    border-width: 2px;
    padding: 40px;
    border: 2px solid #CBC2F2;
    background: #F9F7FF;
}


/* картинки к первому блоку */

/* .firstscreen_image1 img{
    width: 220px;
    height: 220px;
    margin: 0 -0 0 80px;
} */

.firstscreen__content{
    position: static;
    
}

#square {
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
    border-radius: 40px;
    margin: -400px -0px 0 -150px;
}

.firstscreen_image1 img {
    border-radius: 40px;
    width: 300px;
    height: 300px;
    margin:  -80px 0 0 0;
}

.firstscreen_image2 img{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    margin: -100px 0 0 -310px ;
    
}

/* слайдер, которого нет */

.slider {
    background-color: #F9F7FF;
    padding: 80px 125px;
    
}

.slider_title{
    font-family: Vladivostok;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}

.slider_botton{
    text-align: right;
    width: 48px;
    height: 48px;
    gap: 8px;
    border-radius: 12px;
    padding: 12px;

    
}

.scroll {
    display: flex;
    justify-content:space-between;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}



.box {
    scroll-snap-align: start;
    width: 340px;
    height: 280px;
    gap: 20px;
    border-radius: 40px;
    border-width: 2px;
    padding: 40px;
    border: 2px solid #CBC2F2;
    text-align: left;
    background-color: #FFFFFF;
}

.box img{
    width: 90%;
}

.box t2{
    size:16px;
    width: 260px;
    height: 72px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}

.box h2{
    background: linear-gradient(90deg, #897ACC 0%, #CC29A3 49.48%, #F23051 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 260px;
    height: 48px;
    font-family: Vladivostok;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}

/* ответы на вопросы */

.FAQ {
    gap: 40px;
    padding: 80px 125px;
} 

.FAQ-title {
    font-family: Vladivostok;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 20px;
}

.column_faq {
    display:flex;
    justify-content: space-between;
}

.accordion{
    
}

.accordion__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    width: 700px;
    height: 64px;
    gap: 20px;
    border-radius: 20px;
    padding: 30px;
    padding: 0 0 0 30px;
   
}

.accordion__title:before,
.accordion__title::after{
    content: '';
    width: 10px;
    height: 1px;
    background-color: #0D0D0D;
    position: absolute;
    top: 8px;
    transform: all 0.3s ease 0s;
    
}

.accordion__title:before{
    transform: rotate(40deg);
    left:0;
}

.accordion__title::after{
    transform: rotate(-40deg);
    left:8px;
}

/* .accordion__title.active:before{
    transform: rotate(-30deg);
}

.accordion__title.acttive:after{
    transform: rotate(30deg);
} */

.accordion-item {
    gap: 20px;
    background: #F2F2F2;
    border-radius: 20px;
    padding:  0 0 20px 0 ;
}

.accordion__content.active:before,
.accordion__content.active:after{
    width: 700px;
    height: 180px;
    border-radius: 12px;
    border-bottom-width: 2px;
}

.accordion__text{
    display: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    background: #F2F2F2;
    padding: 10px 0 0 0;
}

/* контакты */

.form {
    display:flex;
    justify-content: space-between;
    
    padding: 80px 125px;
    gap: 20px;
    background: #F9F7FF;
}

.form_text {
    width: 700px;
    height: 364px;
    gap: 24px;
    border-radius: 40px;
    border-width: 2px;
    padding: 40px;
    background: #FFFFFF;
    border: 2px solid #CBC2F2;

}


.form_text h2{
    color:#554D80;
    font-size:48px;
    margin-bottom: 30px;
}

.form_text t2{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.form_text button{
    margin-top: 30px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    
}

.container input{
    width: 580px;
    height: 48px;
    padding: 6.5px 12px;
    gap: 4px;
    border-radius: 12px;
}

.container t4{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #999999;
}

/* контактная информация пользователя */

.form_info {
    width: 700px;
    height: 426px;
    gap: 20px;
    border-radius: 40px;
    border-width: 2px;
    padding: 40px;
    background: #FFFFFF;
    border: 2px solid #CBC2F2;

}

.form_info lable{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    width: 620px;
    height: 48px;
    padding: 6.5px 12px;
    gap: 4px;
    border-radius: 12px;

}

.form_info input{
    /* background-image: url("/style/images/people.png");
    background-repeat: no-repeat;
    padding: 6px 0; */
}

.checkbox {
    display: none; 
}

.checkbox-label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #F23051;
    border-radius: 3px;
    position: relative;
    text-align: center;
    line-height: 20px;
}

.checkbox:checked + .checkbox-label::after {
    content: url("/style/images/switch.png"); 
    color: white;
    position: absolute;
    left: 2px;
    top: 0;
    font-size: 16px;
}

.checkbox:checked + .checkbox-label {
    background-color: #ffffff; 
}

  /* подвал */

.footer {
    display:flex;
    justify-content: space-between;
    flex: 0 1 50%;
    background-color: #0D0D0D;
    gap: 20px;
    padding: 40px 125px;
}
.footer_image {
    width: 212px;
    height: 40px;
    gap: 12px;
}
.footer_text {
    color:#F2F2F2;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
}